body {
  padding: 14px;
  text-align: left;
}

table {
  width: 960px;
  
  margin: 20px auto;
  table-layout: auto;
  margin-left:0px;
}

.fixed {
  table-layout: fixed;
}

table,
td,
th {
  border-collapse: collapse;
}

table tbody tr:hover td {
  background-color: #d3d3d3;
}

th,
td {
  padding: 10px;
  border: solid 1px;
  text-align: left;
}

.w {
  width: 350px;
}

.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}